---
import '../styles/components/footer.css';
---

<footer>
  <div class="container foot">
    <div class="left">
      <span class="foot-k">夜</span>
      <span>MoeKoder · burning subs since the kettle boiled · 2026</span>
    </div>
    <div class="foot-links">
      <a href="/changelog">Changelog</a>
      <a href="/download">Download</a>
      <a href="https://github.com/Shironex/moekoder" target="_blank" rel="noopener">GitHub</a>
    </div>
  </div>
</footer>
